<table>
  <tr>
    <th>
      User
    </th>
    <th>
      ID
    </th>
    <th>
      CBS ID
    </th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td>
      <%= u.name %>
    </td>
    <td>
      <%= u.id %>
    </td>
    <td>
      <%= u.cbs_id %>
    </td>
  </tr>
<% end %>
</table>