<div class="nobodywrap">
  
<div class="afclevel">
<p class="afcplayblank rightpad">Wildcard Round</p>
<p class="afcplayblank"></p>
<p class="afcplaytop">Player One</p>
<p class="afcplaygame">Game Data</p>
<p class="afcplaybottom">Player Two</p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplaytop">Player Three</p>
<p class="afcplaygame">Game Data</p>
<p class="afcplaybottom">Player Four</p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplayblank"></p>
<p class="afcplaytop">Player Five (Bye)</p>
<p class="afcplayblank"></p>
<p class="afcplaytop">Player Six (Bye)</p>
</div>

<div class="afclevel">
  <p class="afcplayblank rightpad">Divisional Round</p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplaytop">Player Two</p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame">Game Data</p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaybottom">Player Bye</p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplaytop">Player Three</p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame">Game Data</p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaybottom">Player Bye</p>
</div>

<div class="afclevel">
  <p class="afcplayblank rightpad">Conference Championship Round</p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplaytop">Player Two</p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame">Game Data</p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaygame"></p>
  <p class="afcplaybottom">Player Bye</p>
</div>

<div class="afclevel">
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplayblank"></p>
  <p class="afcplaytop">Player Two</p>
</div>

<div class="sblevel">
  <p class="sbgame rightpad">Superbowl</p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbgame">AFC Champ vs. NFC Champ</p>
  <p class="sbgame"></p>
  <p class="sbgame"></p>
  <p class="sbplaytop">TB Champ</p>
  <p class="sbgame"></p>
    
</div>

<div class="nfclevel">
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplaytop">Player Two</p>
</div>

<div class="nfclevel">
  <p class="nfcplayblank leftpad">Conference Championship Round</p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplaytop">Player Two</p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame">Game Data</p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaybottom">Player Bye</p>
</div>

<div class="nfclevel">
  <p class="nfcplayblank leftpad">Divisional Round</p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplaytop">Player Two</p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame">Game Data</p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaybottom">Player Bye</p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplayblank"></p>
  <p class="nfcplaytop">Player Three</p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame">Game Data</p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaygame"></p>
  <p class="nfcplaybottom">Player Bye</p>
</div>

<div class="nfclevel">
<p class="nfcplayblank leftpad">Wildcard Round</p>
<p class="nfcplayblank"></p>
<p class="nfcplaytop">Player One</p>
<p class="nfcplaygame">Game Data</p>
<p class="nfcplaybottom">Player Two</p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplaytop">Player Three</p>
<p class="nfcplaygame">Game Data</p>
<p class="nfcplaybottom">Player Four</p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplayblank"></p>
<p class="nfcplaytop">Player Five (Bye)</p>
<p class="nfcplayblank"></p>
<p class="nfcplaytop">Player Six (Bye)</p>
</div>

</div>