<table class="l1">
  <tr>
    <td class="top-player">
      Player One
    </td>
    </tr>
    <tr>
    <td class="bottom-player">
      Player Two
    </td>
  </tr>
  <tr>
    <td class="no-player">
            &nbsp
    </td>
    </tr>
    <tr>
    <td class="top-player">
      Player Three
    </td>
  </tr>
  <tr>
    <td class="bottom-player">
      Player Four
    </td>
  </tr>
</table>
<table class="l2">
  <tr>
    <td class="top-winner-player">
      Player One
    </td>
  </tr>
  <tr>
    <td class="vertical-bracket-line">
            &nbsp
    </td>
  </tr>
  <tr>
    <td class="vertical-bracket-line">
            &nbsp
    </td>
  </tr>
  <tr>
    <td class="bottom-winner-player">
      Player Three
    </td>
  </tr>
</table>