<table>
  <tr>
    <th>
      Start
    </th>
    <th>
      Action
    </th>
    <th>
      Result
    </th>
  </tr>
  <% Log.last(100).each do |l| %>
  <tr class="<%= cycle("greenbar", "nogreenbar") %>">
    <td>
     <%= raw l.startdt.strftime("%m/%d/%y&nbsp&nbsp%l:%M %p") %>
    </td>
    <td>
      <%= l.action %>
    </td>
    <td>
      <%= l.result %>
    </td>
  </tr>
  <% end %>
</table>