<table>
  <tr>
    <th>
      Player
    </th>
    <th>
      ID
    </th>
    <th>
      CBS ID
    </th>
  </tr>
<% @players.each do |p| %>
  <tr>
    <td>
      <%= p.playername %>
    </td>
    <td>
      <%= p.id %>
    </td>
    <td>
      <%= p.cbsid %>
    </td>
  </tr>
<% end %>
</table>