
table, th, td {
  border: none;
  font-size: 95%;
  margin: 0;
  border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.lefthead {
  text-align: left;
}

.rightalign {
  text-align: right;
}

.noborder {
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}

.nopadding {
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}
.winteam {
  color: green
}

.loseteam {
  color: red
}

.bottomleft {
  text-align: left;
  vertical-align: bottom;
  padding-left: 2px;
}

.centerleft {
  text-align: left;
  vertical-align: center;
  padding-left: 2px;
}

.Trophy {
  color: blue;
  font-weight: bold;
}

.Sphincter {
  color: red;
  font-weight: bold;
}

.tableheader {
  background-color: lightgrey;
}

.greenbar {
  background-color: rgb(204,255,204);
}

.nogreenbar {
  background-color: white;
}

.nfc {
  background-color: royalblue;
}

.afc {
  background-color: crimson;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.donkey {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.tbaward {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.divname {
    text-align: left;
}

.playername {
  padding-left: 5px;
  text-align: left;
}

.blankrow{
  border: none;
}