
table, th, td {
  border: 1px solid black;
  font-size: 95%;
  margin: 0;
  border-collapse: collapse;
}

th, td {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.lefthead {
  text-align: left;
}

.rightalign {
  text-align: right;
}

.noborder {
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}

.nopadding {
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}
.winteam {
  color: green
}

.loseteam {
  color: red
}

.bottomleft {
  text-align: left;
  vertical-align: bottom;
  padding-left: 2px;
}

.centerleft {
  text-align: left;
  vertical-align: center;
  padding-left: 2px;
}

.Trophy {
  color: blue;
  font-weight: bold;
}

.Sphincter {
  color: red;
  font-weight: bold;
}

.tableheader {
  background-color: lightgrey;
}

.greenbar {
  background-color: rgb(204,255,204);
}

.nogreenbar {
  background-color: white;
}

.nfc {
  background-color: royalblue;
}